---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import FeatureCards from "../components/FeatureCards.astro";
import FeaturedProducts from "../components/FeaturedProducts.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!-- <html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <Header />
  <Hero />
  <FeatureCards />
  <FeaturedProducts />
</html> -->
<BaseLayout content={{ title: "K8 Nutrition - Home" }}>
  <Hero />
  <FeatureCards />
  <FeaturedProducts />
</BaseLayout>
